{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/list.css' %}">
</head>
{% include 'header.html' %}
<body>
    <section>
        <h2>board</h2>
        <div id="list-container">
            {% for board in boards %}
            <div class="list-item">
                <h4>{{board.title }}</h4>
                <span>{{ board.author.name }}</span><br>
                <textarea readonly>{{ board.content }}</textarea><br>
                <input type="datetime" value="{{ board.datetime }}" readonly>
                {% if board.loadedfile %}
                    <p>{{board.loadedfile.name}}</p>
                <!-- <form enctype="multipart/form-data">
                    <span>{{board.loadedfile.name}}</span>
                    <input type="submit" value="수정">
                    <input type="file">
                </form> -->
                {% endif %}
            </div>
            {% endfor %}
        </div>

    </section>
</body>
{% include 'footer.html' %}

</html>